
.card {
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
    padding: 0 16px;
}

.individual {
    width: 230px;
}

.groups {
    width: 340px;

    .img {
        z-index: -1;
        padding: 0 -16px;

        img {
            border-radius: 15px;
            //width: 230px;
            height: 150px;
            width: 100%;
            object-fit: cover;
        }
    }
}

.info{
    text-align: left;
}

.content {
    margin: 15px;
}

.author {
    padding: 6px 0;
    border-bottom: 1px solid #D9D9D9;
}

.cardTime{
    text-align: start;
    margin: 16px 0;
    font-weight: 550;
}

.details {
    margin: 6px 0;
}

.img {
    z-index: -1;
    padding: 0 -16px;

    img {
        border-radius: 15px;
        //width: 230px;
        height: 150px;
        width: 100%;
        object-fit: cover;
    }
}