.title {
    font-size: 48px;
}

.subtitle {
    font-size: 24px;
    margin: 42px 0 22px 0;
}

.toReg {
    margin: 10px 0 0 0;
    font-size: 12px;
    text-align: center;

}

.linkReg{
    font-size: 12px;
    color: #146E8E;
    margin: 0 0 0 2px;
}