.MainPage{
    padding: 0 64px 0 64px;
}

.presentation{
    display: flex;
    position: relative;
    margin: 84px 0 0 0;

    .mainText{
        flex: 1 1 auto;

        h1{
            font-size: 128px;
            margin: 40px 0 50px 0;
        }

        p{
            font-size: 32px;
        }
    }

    .img{
        flex: 0 1 auto;

        img{
            height: 100%;
        }
    }
    .line{
        border-bottom: 1px solid black;
        position: absolute;
        bottom: 0;
        left: -64px;
        right: -64px;
    }
}




